<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>
{% if useAutoStoreData %}
<script src="/js/auto-store-data.js"></script>
{% endif %}

<!-- Add any custom scripts -->

<!-- Design example code -->
<script type="text/javascript">
  class DesignExample {
    static selector() {
      return '.design-example';
    }

    constructor(node) {
      this.node = node;
        this.tabClass = 'app-tabs__item';
        this.currentTabClass = this.tabClass + '--current';
        this.hiddenClass = 'js-hidden';
        this.tabs = Array.prototype.slice.call(this.node.querySelectorAll(`.${this.tabClass}`));
        this.examples = Array.prototype.slice.call(this.node.querySelectorAll('.code-snippet__preformatted'));
        this.closeButtons = Array.prototype.slice.call(this.node.querySelectorAll('.app-link--close'));
        this.copyButtons = Array.prototype.slice.call(this.node.querySelectorAll('.app-link--copy'));
        this.iframe = this.node.querySelector('iframe');


      this.bindEvents();

    }

    bindEvents() {
      this.copyButtons.forEach(copyButton => copyButton.addEventListener('click', e => this.handleCopyClick(e)));
    }

    bindEvents() {
        this.tabs.forEach(tab => tab.addEventListener('click', e => this.handleTabClick(e)));

        if (this.closeButtons) {
            this.closeButtons.forEach(closeButton => closeButton.addEventListener('click', e => this.handleCloseClick(e)));
        }

        this.copyButtons.forEach(copyButton => copyButton.addEventListener('click', e => this.handleCopyClick(e)));

    }

    handleTabClick(e) {
        const targetEl = e.target.parentElement;
        const index = targetEl.dataset.index;

        e.preventDefault();

        this.tabs.forEach(tab => {
            if (tab.classList.contains(this.currentTabClass)) {
                tab.classList.remove(this.currentTabClass);
            }
        });

        targetEl.classList.add(this.currentTabClass);

        this.exampleToggler(index);
    }

    handleCloseClick() {
        this.examples.forEach(example => {
            this.hideEl(example);
        });

        this.tabs.forEach(tab => {
            if (tab.classList.contains(this.currentTabClass)) {
                tab.classList.remove(this.currentTabClass);
            }
        });
    }

    handleCopyClick(e) {
        e.preventDefault();
        const el = document.createElement('textarea');
        const str = this.node.querySelector('.code-snippet__preformatted:not(.js-hidden) code');
        el.value = str.innerText;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        e.target.innerText = 'Copied';
        setTimeout(() => e.target.innerText = 'Copy code', 2500);
    }

    showEl(el) {
        if (el.classList.contains(this.hiddenClass)) {
            el.classList.remove(this.hiddenClass);
        }
    }

    hideEl(el) {
        if (!el.classList.contains(this.hiddenClass)) {
            el.classList.add(this.hiddenClass);
        }
    }

    exampleToggler(index) {
        this.examples.forEach(example => {
            example.dataset.index === index ?
                example.classList.remove(this.hiddenClass) :
                example.classList.add(this.hiddenClass);
        });
    }

  }

  document.querySelectorAll(DesignExample.selector()).forEach((el) => {
    new DesignExample(el);
  });
</script>

<!-- Run highlight.js on all code snippets -->

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((el) => {
      hljs.highlightElement(el);
    });
  });
</script>

<!-- Encode HTML special characters so that they display correctly in code snippets -->

<script>
  $(".html-example").each(function () {
    var string = $(this).html();
    $(this).html($('<div/>').text(string).html());
  });
</script>

<!-- Remove excess whitespace from code snippets -->

<script>
  // remove leading and final linebreaks from code blocks.
  window.onload = function () {
    var codeBlock = document.getElementsByTagName("code");

    for (var i = 0, len = codeBlock.length; i < len; i++) {
      var first = codeBlock[i].firstChild.nodeValue;
      var last = codeBlock[i].lastChild.nodeValue;

      codeBlock[i].firstChild.nodeValue = first.replace(/^\n+|\n+$/g, "");
      codeBlock[i].lastChild.nodeValue = last.replace(/^\s+|\s+$/g, "");
    }
  }
  // remove unnecessary indentations from code blocks
  $("pre code").each(function () {
    var html = $(this).html();
    var pattern = html.match(/\s*\n[\t\s]*/);
    $(this).html(html.replace(new RegExp(pattern, "g"), '\n'));
  });
</script>

<!--- Copy code button functionality for code snippets -->
