{% set pageTitle = "Design library" %}
{% set pageDescription = "View the styles, components and patterns we have been working on in screening." %}
{% set pageSection = "Design library" %}
{% set landingPage = true %}
{% set disableSearch = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>These designs are still in development and should not be used as part of another live service. If you have any feedback, please get in touch with us.</p>

  <h2>Using the design library</h2>

  <p>The screening design library brings together styles, components and patterns created by designers and developers across screening services.</p>

  <p>Because these designs are experimental and in various stages of development, the best way to implement them is to:</p>

  <ul>
    <li>copy the HTML code</li>
    <li>copy the CSS code</li>
    <li>copy the JavaScript code (if applicable)</li>
  </ul>

{% endblock %}