<div class="example-container">
    <div class="nhsuk-example-component">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>I'm an example component and I exist purely to pop and sparkle.</p>
    </div>
</div>