{% set pageTitle = "Components" %}
{% set pageDescription = "Components are reusable elements of the user interface. By aliging our designs in Screening, we can build consistent products and services." %}
{% set pageSection = "Design library" %}
{% set subSection = "Components" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}
{% set disableSearch = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-library/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>You can use individual components in different patterns and contexts, but specify what these patterns and contexts are when adding a design to the library.</p>

  <p>You should continue to use the <a href="https://nhsuk-prototype-kit.azurewebsites.net/docs">NHS.UK prototype kit</a> as the basis for your designs, and any custom components should follow existing NHS service manual conventions where possible.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
