{% set pageTitle = "About" %}
{% set pageDescription = "About the screening design library" %}
{% set pageSection = "About" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout-content-only.njk" %}

{% block bodyContent %}

<h1>
    About the screening design library
</h1>

<!-- Add content here -->
<!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

<p class="nhsuk-u-reading-width">Because the products and services we build interact directly with both the general
    public and the healthcare professionals delivering care to them, our users' needs will often differ vastly.</p>

<p class="nhsuk-u-reading-width">The existing service manual content is a brilliant baseline for our services, and where
    possible, we will always look to use these tried and tested examples in the first instance. However, we know from
    research that quite often the existing guidance can cause issues for our professional users.</p>

<h2>Professional-facing services</h2>

<p class="nhsuk-u-reading-width">We use the term 'professional-facing services' to encompass all of the products and
    services we produce that are used by members of staff, as opposed to the general public.</p>

<p class="nhsuk-u-reading-width">Our research often suggests that because these users are involved with using our
    products on a daily basis, some of the existing guidance does not match their expectations. These 'power-users'
    will, as an example, often have to perform repetitive tasks as quickly and safely as possible.</p>

<p class="nhsuk-u-reading-width">Whilst the guidance in the existing service manual works well for users in a public
    setting, who are using services less frequently, it can often cause frustration for our professional users. When
    this occurs, we work collaboratively to explore new styles, components and patterns that satisfy their needs on a
    service-by-service basis, and ensure that we're providing high quality services for all of our users.</p>

<h2>Why a new design library?</h2>

<p class="nhsuk-u-reading-width">We thought a repository would be a helpful way for us to share our work and collaborate
    with each other. Because the creation of new designs usually involves creating custom code, this is the best way for
    us to share those designs in a way that is reusable and transparent.</p>

<p class="nhsuk-u-reading-width">On top of this, we can directly link those designs to the research that has been done
    on them. This helps us to demonstrate the rationale behind these new designs, and evidence that everything we do is
    grounded in user research.</p>

<h2>Who is this for?</h2>

<p class="nhsuk-u-reading-width">In the interim, this will primarily be for designers and researchers within Screening
    to share ideas and collaborate with one another. This will help us to ensure that our services are joined up, and
    provide a consistent user experience for everyone.</p>

<p class="nhsuk-u-reading-width">Beyond that, we hope to work with the wider design and research community - including
    the NHS digital service manual team - to share our findings and hopefully provide a set of solid examples that other
    teams within the NHS can use to delivery services for everyone.</p>

<h2 id="contact">Contact us</h2>

<p class="nhsuk-u-reading-width">If you have any questions about this work, please reach out to Dan Johnston on Slack or
    at <a href="mailto:daniel.johnston1@nhs.net">daniel.johnston1@nhs.net</a></p>

{% endblock %}