{% set pageTitle = "Example component" %}
{% set pageSection = "Design library" %}
{% set subSection = "Components" %}
{% set pageDescription = "This is an example component, to demonstrate how we surface components we've designed in the design library." %}
{% set dateUpdated = "May 2024" %}
{% set disableSearch = true %}


{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-library/components/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <!--- EXAMPLES AND CODE -->

  <h2>Example and code</h2>

  {{ designExample({
    group: "components",
    item: "example",
    type: "default"
  }) }}

  <!--- VARIATIONS -->

  <h2>Variations</h2>
  <p>If you have any variations to your design then share them in this section.</p>
  <p>By variations, we mean things that expand on the core component. Think things like conditional content for a
      checkbox, or different types of button.</p>

  {{ designExample({
    group: "components",
    item: "example",
    type: "variant"
  }) }}

  <p>Not every design will need a variation. If that's the case then just remove this section.</p>

  <!--- RATIONALE -->

  <h2>Rationale</h2>
  <p>In this section we should describe the rationale behind creating the new component. We could include things such
      as: </p>
  <ul>
    <li>What we've already tested with users</li>
    <li>Why any alternative existing designs did not work for our users</li>
    <li>What problems we think this design will alleviate</li>
    <li>Any similar designs that influenced our approach</li>
  </ul>
  <p>We should use the rationale section to explain our thought processes, to give any visitors to this page some
      context behind our approach.</p>
  <p>By providing context, we can help build understanding of what we want to achieve and hopefully encourage others
      to collaborate with us.</p>
  <p>Be as descriptive as possible!</p>

  <h2>Where was this design used?</h2>
  <p>In this section we should explain what service the design was used, or is intended to be used on.</p>
  <p>We have many different products and services both within Screening and the wider NHS, so it is important to state
      where the design is intended for use. This will allow other members of the community to understand both how the
      design applies to that product or service, but also how it could apply to similar work being done elsewhere.</p>
  <p>Explain who your users are, what they use your service for and what devices they are likely to access your
      service on. A good explanation here will encourage feedback and collaboration.</p>
  <p>It might be helpful to include a link to your prototype so that users can see the design in context, as it's meant to be used.</p>

  <!--- RESEARCH -->

  <h2>Research</h2>
  <p>In this section we should detail all of the relevant research we have relating to the component we have built.
    </p>
  <p>It is important to surface research findings here, even if they are also stored elsewhere. It allows us to show
      how robust (or not) our designs are, and gives others an understanding of why the design may or may not work in
      their own product or service.</p>
  <p>To do this, we need to be as detailed as possible. Use any artefact you think is suitable - quotes, survey
      results, affinity mapping, images - whatever it takes to drill home the findings.</p>
  <p>This section may become quite lengthy, but don't worry. Here, it's better to have too much information than not
      enough whilst we seek feedback and collaboration opportunities.</p>

  <!--- UPDATES -->

  <h2>Updates</h2>
  <p>It's completely reasonable that your designs will update as you test and iterate via your research findings.</p>
  <p>Try to keep your designs updated with the latest version, as well as the supporting research and rationale.</p>
  <p>Don't worry about surfacing older designs in this library. Your individual prototypes will be able to serve as evidence of the work you've done to reach the latest point.</p>

  <!--- CONTACTS -->

  <h2>Contacts</h2>
  <p>If possible, leave your contact details for members of your team that were involved in the design.</p>
  <p>We want people to be able to reach out with questions and suggestions so that we can work towards uniformity in
      our designs.</p>
  <p>This design was created by Dan Johnston.
    <p>
      <p>You can reach him on Slack or at <a href="mailto:daniel.johnston1@nhs.net">daniel.johnston1@nhs.net</a> if you
      have any questions regarding this design.</p>

    {% endblock %}