{% set pageTitle = "Patterns" %}
{% set pageDescription = "Patterns are tested and agreed solutions to common needs. You can reuse them across Screening products and services to make them more consistent." %}
{% set pageSection = "Design library" %}
{% set subSection = "Patterns" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}
{% set disableSearch = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-library/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>Patterns often use more than 1 <a href="/design-library/components">component</a> and you should provide an explanation of how to adapt them to the context they are being used in.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
