{% set pageDescription = "A central space for UCD teams in Screening to share their work and ideas. " %}
{% set pageLayout = "Homepage" %}
{% set disableSearch = true %}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">Screening design library</h1>
            <p>Use the screening design library to learn from the work and experiences
              of others. Contribute back into the library to share your knowledge, and reuse as much as possible to
              avoid repeating work that has already been done.</p>

            <a href="/design-library" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-0">Get started</a>

          </div>
        </div>
        <div class="nhsuk-grid-column-one-third app-latest-update">
          <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">What's new</h2>
              <p class="nhsuk-card__description">We have set up a first draft of the design library and added an <a
                  href="/design-library/components/example">example component</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2>About the screening design library</h2>

          <p>Because the products and services we build interact directly with both the general public and the
            healthcare professionals delivering care to them, our users' needs will often differ vastly.
          </p>

          <p>
            This library enables the different teams working on screening products and services to work together, and
            share our work to the wider NHS community.
          </p>

          <p>To make your service consistent with the NHS, you should start by checking what exists in the <a
              href="https://service-manual.nhs.uk/design-system">NHS design system</a>.</p>

          <p>If something is not in the NHS design system, you should check what exists in the:</p>

          <ul>
            <li>
              <a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog">NHS community backlog</a>
            </li>
            <li>
              <a href="https://github.com/ctdesign/gov-design-systems-list">government department pattern libraries</a>
            </li>
          </ul>

          <p>Reuse as much as possible and iterate based on user needs.</p>

          <p>Where this is not possible, we will take a user centred approach to designing new solutions and showcase
            them in this library.</p>

          <p>
            <a href="/about">Read more</a> about why we created a design library for our screening services.
          </p>

        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}