{% set pageTitle = "Styles" %}
{% set pageDescription = "Make your service look like other screening services with these tested styles" %}
{% set pageSection = "Design library" %}
{% set subSection = "Styles" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}
{% set disableSearch = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-library/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>We aren't currently working on any new styles.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
