{% set pageTitle = "Styles" %}
{% set pageDescription = "Styles are used to make products and services in Screeening look and feel like the NHS." %}
{% set pageSection = "Design library" %}
{% set subSection = "Styles" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}
{% set disableSearch = true %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design-library/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>If you need to create new styles, try to follow existing NHS service manual conventions and explain why the amendments were necessary.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
